@font-face {
    font-family: "Dela";
    src: url("fonts/DelaGothicOne-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "BD", sans-serif;
    src: url("fonts/BabyDoll.ttf") format("truetype");
    src: url("fonts/BabyDoll.otf") format("opentype");
}

body {
    font-family: "Dela", serif;
    background-color: #ebe894;
    margin: 0;
}

#copy {
    text-align: center;
    background-color: aliceblue;
    padding: 3px;
}

.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('images/stationary2.png');
    background-size: 200% 200%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    z-index: -2;
}

h1 {
    text-align: center;
    margin-top: 50px;
    font: Georgia;
    color: #603d28;
    z-index: -1;
}

p {
    color: #666;
    margin: 0;
    display: inline-block;
    text-align: center;
}

.login-container {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container > h2 {
    letter-spacing: 200%;
}

#header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 30px;
    font-size: 60px;
}


lol{
    background-color: #333;
    color: #fff;
    text-align: center;
   display: block;
}
h2 {
    text-align: center;
  

}

.form-group {
    margin-bottom: 20px;
    margin-right: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ebe894;
    color: #603e0b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

button:hover {
    background-color: #d49d59;
}

nav {
    background-color: #603d28;
    color: #ebe894;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 50px;
}

nav ul li a {
    position: relative;
    color: #ebe894;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
}

nav ul li a:hover {
    color: #fff;
    font-size: 104%;
}

#SODMode {
    position: absolute;
    top: 1px;
    left: 20px;
    height: fit-content;
    width: fit-content;
    border-radius: 1px;
    border: 2px solid black !important;
    transition: 0.25s cubic-bezier(0.215, 0.610, 0.355, 1);
}