body {
    font-family: Arial, sans-serif;
    background-color: #ebe894;
    margin: 0;
}
.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Adjusted to fit the entire screen */
    background-image: url('stationary2.png'); /* Background image URL */
    background-size: 200% 200%; /* Scales the image to cover the entire container */
    background-repeat: no-repeat;
    background-position: center; /* Center the background image horizontally */
    text-align: center;
    z-index: -2;
}



h1 {
    text-align: center;
    margin-top: 50px;
    font: Georgia;    
    color: #603d28;
    z-index: -1;
}

p {
    color: #666;
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
    display: inline-block; /* or display: inline; */
    text-align: center;
}

.login-container {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

#header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 30px;
    /* margin: 0; */
    /* margin-top: 20px; */
    font-size: 60px;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    margin-right: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ebe894;
    color: #603e0b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

button:hover {
    background-color: #d49d59;
}




nav {
    background-color:#603d28;
    color:  #ebe894;
    padding: 10px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color:#ebe894;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    text-decoration: underline;
}