* {
    
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.list {
    border-collapse: collapse;
    margin-left: auto;
    margin-right:auto;
    font-size: 0.9em;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.list thead tr {
    background-color: lightblue;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.list th,
.list td {
    padding: 12px 15px;
}

.list tbody tr {
    border-bottom: 1px solid #dddddd;
}

.list tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.list tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.list tbody tr.active-row {
    font-weight: bold;
    color: darkblue;
}
